<style type="text/css">
    /* .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top} */
    .tg-c3ow, .tg-0pky{
        text-align:center;
        vertical-align:center;
    }
    .tbbreak {
        background-color: lightgray;
    }
    .tblec {
        background-color: lightgreen;
    }
    .tbsoc {
        background-color: lightblue;
    }
    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
        min-width: 144px;
    }
</style>
<div style="overflow-x: auto;">
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky">Sunday </th>
            <th class="tg-0pky">Monday</th>
            <th class="tg-0pky">Tuesday</th>
            <th class="tg-0pky">Wednesday</th>
            <th class="tg-0pky">Thursday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">9:00-10:30</td>
            <td class="tg-0pky" rowspan="7"></td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
          </tr>
          <tr>
            <td class="tg-0pky">10:30-11:00</td>
            <td class="tg-c3ow tbbreak" colspan="4">Cofee break</td>
          </tr>
          <tr>
            <td class="tg-0pky">11:00-12:30</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
          </tr>
          <tr>
            <td class="tg-0pky">12:30-14:00</td>
            <td class="tg-c3ow tbbreak" colspan="4">Lunch break</td>
          </tr>
          <tr>
            <td class="tg-0pky">14:00-15:30</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tbsoc" rowspan="3">Social excursion</td>
            <td class="tg-0pky tblec">Lecture</td>
          </tr>
          <tr>
            <td class="tg-0pky">15:30-16:00</td>
            <td class="tg-0pky tbbreak" colspan="2">Coffee break<br></td>
            <td class="tg-0pky tbbreak">Coffee break</td>
          </tr>
          <tr>
            <td class="tg-0pky">16:00-17:30</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
            <td class="tg-0pky tblec">Lecture</td>
          </tr>
          <tr>
            <td class="tg-0lax">18:00-20:00</td>
            <td class="tg-0lax tbsoc">Welcome</td>
            <td class="tg-0lax" colspan="4"></td>
          </tr>
        </tbody>
</table>
</div>