<style type="text/css">
    /* .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top} */
    .tg-c3ow, .tg-0pky{
        text-align:center;
        vertical-align:center;
    }
    .tbbreak {
        background-color: lightgray;
    }
    .tblec {
        background-color: #afd69b;
    }
    .tbsoc {
        background-color: #ccccff;
        text-align:center;
    }
    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        min-width: 144px;
    }
</style>
<div style="overflow-x: auto;">
    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky">Sunday 8</th>
            <th class="tg-0pky">Monday 9</th>
            <th class="tg-0pky">Tuesday 10</th>
            <th class="tg-0pky">Wednesday 11</th>
            <th class="tg-0pky">Thursday 12</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">9:00-10:30</td>
            <td class="tg-0pky" rowspan="4"></td>
            <td class="tg-0pky tblec">Gusfield<br>1</td> <!-- Mon 1 -->
            <td class="tg-0pky tblec">Gusfield<br>2</td> <!-- Tue 1 -->
            <td class="tg-0pky tblec">Gusfield<br>3</td> <!-- Wed 1 -->
            <td class="tg-0pky tblec">Gusfield<br>4</td> <!-- Thu 1 -->
          </tr>
          <tr>
            <td class="tg-0pky">10:30-11:00</td>
            <td class="tg-c3ow tbbreak" colspan="4">Coffee</td>
          </tr>
          <tr>
            <td class="tg-0pky">11:00-12:30</td>
            <td class="tg-0pky tblec">Hajirasouliha<br>1</td> <!-- Mon 2 -->
            <td class="tg-0pky tblec">Hajirasouliha<br>2</td> <!-- Tue 2 -->
            <td class="tg-0pky tblec">Oesper<br>3</td> <!-- Wed 2 -->
            <td class="tg-0pky tblec">Hajirasouliha<br>3</td> <!-- Thu 2 -->
          </tr>
          <tr>
            <td class="tg-0pky">12:30-14:00</td>
            <td class="tg-c3ow tbbreak" colspan="4">Lunch</td>
          </tr>
          <tr>
            <td class="tg-0pky">14:00-15:30</td>
            <td class="tg-0pky tbsoc" rowspan="3">Welcome</br>&</br>Hackathon</td>
            <td class="tg-0pky tblec">Sironi<br>1</td> <!-- Mon 3 -->
            <td class="tg-0pky tblec">Eichler<br>1</td> <!-- Tue 3 -->
            <td class="tg-0pky tblec">Eichler<br>2</td> <!-- Tue 3 -->
            <td class="tg-0pky tblec">Sironi<br>2</td> <!-- Thu 3 -->
          </tr>
          <tr>
            <td class="tg-0pky">15:30-16:00</td>
            <td class="tg-0pky tbbreak">Coffee</td>
            <td class="tg-0pky tbsoc" rowspan="2">Excursion and dinner</td>
            <td class="tg-0pky tbbreak" colspan="4">Coffee<br></td>
          </tr>
          <tr>
            <td class="tg-0pky">16:00-17:30</td>
            <td class="tg-0pky tblec">Oesper<br>1</td> <!-- Mon 4 -->
            <td class="tg-0pky tblec">Oesper<br>2</td> <!-- Tue 4 -->
            <td class="tg-0pky tblec">Oesper<br>4</td> <!-- Thu 4 -->
          </tr>
          <!-- <tr>
            <td class="tg-0lax">18:00-20:00</td>
            <td class="tg-0lax tbsoc">Welcome</td>
            <td class="tg-0lax" colspan="4"></td>
          </tr> -->
        </tbody>
</table>
</div>
